---
layout: page
title: Categories
---
<section id="archive">
        <h3>All posts by category</h3>
        <ul class="tag-box inline">
            {% assign tags_list = site.categories | sort {|left, right| left[0] <=> right[0]} %}
            {% if tags_list.first[0] == null %}
                {% for tag in tags_list %} 
                <li><a href="#{{ tag }}"><strong>{{ tag | capitalize }}</strong></a> <span>({{ site.tags[tag].size }})</span></li>
                {% endfor %}
            {% else %}
                {% for tag in tags_list %} 
                <li><a href="#{{ tag[0] }}"><strong>{{ tag[0] | capitalize }}</strong></a> <span>({{ tag[1].size }})</span></li>
                {% endfor %}
            {% endif %}
            </ul>
        
            {% for tag in tags_list %} 
            <h4 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h4>
            <ul class="">
                {% assign pages_list = tag[1] %}  
                    {% for post in pages_list %}
                    {% if post.title != null %}
                        {% if group == null or group == post.group %}
                        <li><a href="{{ post.url }}"><strong>{{ post.title }}</strong><span class="entry-date"></a><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"> - {{ post.date | date: "%B %d, %Y" }}</time></li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                {% assign pages_list = nil %}
                {% assign group = nil %}
            </ul>
            {% endfor %}
</section>
