/**
 * Site header
 */
.site-header {
  background: #000 url(/HTML/header00.png) repeat-x;
  border-top: 5px solid $grey-color-dark;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;

  @include media-query($on-palm) {
    background: #000 url(/HTML/header00narrow.png) repeat-x;
  }
}

.site-title {
  font: 260%/1.15 Georgia,serif;
  letter-spacing: -0.2px;
  margin-bottom: 0;
  float: left;
  padding : 20px 0 5px 50px;

  &:visited {
    color: $header-text-color;
  }
  &:hover {
    color: $header-link-color;
    text-decoration: none;
  }
}

.site-subtitle {
    display: block;
    clear: left;
    float: left;
    line-height: 56px;
    padding: 0;
    padding-left: 50px;
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font: 120% Georgia,serif;
}

.site-nav {
  float: right;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $header-text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      color: $header-link-color;
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $grey-color-dark;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $header-text-color;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
.site-header-divider {
  background: #fff url(/HTML/bar00001.png) 0 -10px repeat-x;
  min-height: 20px;
}


/**
 * Site footer
 */
.site-footer {
  border-top: 2px solid $header-link-color;
}

.site-footer-divider {
  border-top: 2px solid $grey-color-dark;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-col-wrapper {
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.post-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.post-col-1 {
  width: -webkit-calc(75% - (#{$spacing-unit} / 2));
  width:         calc(75% - (#{$spacing-unit} / 2));
}

.post-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .post-col-1,
  .post-col-2 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .post-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


.post-header {
  margin-bottom: $spacing-unit;
  border-bottom: 2px solid $grey-color-light;
}

.post-category-label {
  background-color: $grey-color-light;
  &:visited {
    color: $brand-color;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
  }

  h1 {
    font-size: 36px;
    @include media-query($on-laptop) {
      font-size: 32px;
    }
  }

  h2 {
    padding-bottom: 10px;
    font-size: 32px;
    background: url('images/bg_hr.png') repeat-x bottom;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 28px;
    @include media-query($on-laptop) {
      font-size: 24px;
    }
  }

  h4 {
    font-size: 24px;
    @include media-query($on-laptop) {
      font-size: 20px;
    }
  }

  h5 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 16px;
    }
  }

  h6 {
    font-size: 16px;
    @include media-query($on-laptop) {
      font-size: 12px;
    }
  }

  table {
    border: 1px solid #373737;
    margin-bottom: 20px;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
  }

  th {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 10px;
    background: #373737;
    color: #fff;
  }

  td {
    padding: 10px;
    border: 1px solid #373737;
  }

}
